DISCORD_CLIENT_ID=YOUR_DISCORD_CLIENT_ID
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_GUILD_ID=YOUR_DISCORD_GUILD_ID
DISCORD_VERIFIED_ROLE_ID=YOUR_DISCORD_VERIFIED_ROLE_ID
DISCORD_REDIRECT_URI=YOUR_DISCORD_REDIRECT_URI
GITHUB_REPO_NAME=YOUR_GITHUB_REPO_NAME
GITHUB_REPO_OWNER=YOUR_GITHUB_REPO_OWNER
GITHUB_PAT=YOUR_GITHUB_PAT
GITHUB_CLIENT_SECRET=YOUR_GITHUB_CLIENT_SECRET
GITHUB_CLIENT_ID=YOUR_GITHUB_CLIENT_ID