# Dependencies and build artifacts
node_modules/**
.react-router/**
dist/**
build/**

# TypeScript declaration files
**/*.d.ts

# Cloudflare Wrangler files
.wrangler/**

# IDE and editor files
.vscode/**

# Azure deployment files
.azure/**

# Claude Code Ignore
.claude
CLAUDE.md

# Environment files
.env
.env.local
.env.*
.env.*.local
.dev.vars

# Keep the example files
!.env.*.example
!.dev.vars.example

# Ignore storybook build output for now.
storybook-static/**
# Ignore build files.
*tsconfig.cloudflare.tsbuildinfo