/**
 * For more details on how to configure Wrangler, refer to:
 * https://developers.cloudflare.com/workers/wrangler/configuration/
 */
{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "infima-games-insiders-worker",
  "compatibility_date": "2025-09-13",
  "main": "./workers/app.ts",
  "workers_dev": false,
  "assets": {
    "directory": "./public",
    "binding": "ASSETS",
  },
  "vars": {},
  "observability": {
    "enabled": true,
  },

  "env": {
    // Production.
    "production": {
      "name": "infima-games-insiders-worker-production",
      "vars": {
        // You can override variables for production if needed
      },
      "routes": [
        {
          "pattern": "insiders.infima-games.com",
          "custom_domain": true,
        },
        {
          "pattern": "insiders.infima-games.com/*",
          "zone_name": "infima-games.com",
        },
      ],
    },
    // Staging.
    "staging": {
      "name": "infima-games-insiders-worker-staging",
      "vars": {
        // You can override variables for staging if needed
      },
      "routes": [
        {
          "pattern": "staging.insiders.infima-games.com",
          "custom_domain": true,
        },
        {
          "pattern": "staging.insiders.infima-games.com/*",
          "zone_name": "infima-games.com",
        },
      ],
    },
  },
}
