/**
 * For more details on how to configure Wrangler, refer to:
 * https://developers.cloudflare.com/workers/wrangler/configuration/
 */
{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "signup-portal",
  "compatibility_date": "2025-09-13",
  "main": "./workers/app.ts",
  "workers_dev": false,
  "assets": {
    "directory": "./public",
    "binding": "ASSETS",
  },
  "vars": {},
  "observability": {
    "enabled": true,
  },

  "env": {
    // Production.
    "production": {
      "name": "signup-portal-production",
      "vars": {
        // You can override variables for production if needed
      },
      "routes": [
        {
          "pattern": "production.your-domain.com",
          "custom_domain": true,
        },
        {
          "pattern": "production.your-domain.com/*",
          "zone_name": "your-domain.com",
        },
      ],
    },
    // Staging.
    "staging": {
      "name": "signup-portal-staging",
      "vars": {
        // You can override variables for staging if needed
      },
      "routes": [
        {
          "pattern": "staging.your-domain.com",
          "custom_domain": true,
        },
        {
          "pattern": "staging.your-domain.com/*",
          "zone_name": "your-domain.com",
        },
      ],
    },
  },
}
